# Ignore Python cache, virtual environments and wandb files
*/__pycache__/
*.pyc
.vscode/
launch.json
env/
wandb/
**/archive/
**/*notitle*

# Ignore logs and temp files
*.log
*.tmp
temp/
old/

# Ignore specific files
experiments/
src/data_processing/plots/
Shuyins_code/
*/old/
evaluation/IGS_GIM/
