# General configuration
project_name: "GIM_fusion_VLBI"
output_dir: "experiments/"
random_seed: 42

# Data configuration
data:
  GNSS_data_path: "/scratch2/arrueegg/WP2/GNSS_STEC_DB/"
  VLBI_data_path: "/scratch2/arrueegg/WP1/PyIono_Output/Results/"
  shuffle: true

# Model configuration
model:
  model_type: "MLP"
  input_size: 128          # Input feature size
  hidden_size: 64          # Hidden layer size
  output_size: 1           # Output prediction size
  dropout: 0.3             # Dropout rate for regularization

# Training configuration
training:
  test_size: 0.2          # Proportion of data to use for testing
  epochs: 50
  batchsize: 64
  learning_rate: 0.001
  optimizer: "adam"
  weight_decay: 0
  loss_function: "MSELoss" # Loss function: MSELoss, MAELoss, HuberLoss
  scheduler: "step_lr"     # Scheduler: none, step_lr, cosine_annealing
  scheduler_step_size: 10  # Step size for scheduler (reduces lr every X epochs)
  scheduler_gamma: 0.5     # Gamma for scheduler (gamma ist the reduction factor lr_new = lr_old * gamma)
  early_stopping: true     # Whether to use early stopping
  patience: 5              # Patience for early stopping

# Logging configuration
logging:
  log_to_file: true
  log_file: "experiments/logs/training.log"
  checkpoint_dir: "experiments/checkpoints/"

# Debugging configuration
debugging:
  enable_debugging: True           # Turn on debugging mode
  log_level: "DEBUG"               # Logging level (e.g., DEBUG, INFO)
  debug_data_dir: "experiments/debug/"  # Directory for saving debug data
