# General configuration
project_name: "GIM_fusion_VLBI"
output_dir: "experiments/"
year: 2023
doy: 1
random_seed: 42

# Data configuration
data:
  GNSS_data_path: "/scratch2/arrueegg/WP2/GNSS_STEC_DB/"
  VLBI_data_path: "/scratch2/arrueegg/WP1/PyIono_Output/Results/"
  columns_to_load:  #['station', 'stec', 'vtec', 'vtec_stddev', 'satres', 'ipplat', 'ipplon', 'sm_lat', 'sm_lon', 'satele', 'satazi', 'sod'] # List of columns to load or None (no arg) for all columns
  shuffle: true

# Preprocessing
preprocessing:
  elevation: 15.0
  SH_encoding: True
  SH_degree: 3
  split: 'lists'           # random or lists

# Model configuration
model:
  model_type: "MLP"
  input_size: 39           # Input feature size
  hidden_size: [90, 90, 90]    # Hidden layer size
  output_size: 1           # Output prediction size
  activation: "tanh"       # Activation function: relu, tanh, sigmoid, leaky_relu
  apply_softplus: false    # Apply softplus for positive-only outputs
  dropout: 0.0             # Dropout rate for regularization

# Training configuration
training:
  test_size: 0.2          # Proportion of data to use for testing
  epochs: 50
  batchsize: 512
  num_workers: 8
  learning_rate: 0.0001
  optimizer: "Adam"        # Optimizer: SGD, Adam, AdamW, RMSprop, Adagrad, Adadelta
  weight_decay: 0
  loss_function: "LaplaceLoss"  # Loss function: MSELoss, MAELoss, HuberLoss, LaplaceLoss
  scheduler: "step_lr"     # Scheduler: none, step_lr, cosine_annealing
  scheduler_step_size: 10  # Step size for scheduler (reduces lr every X epochs)
  scheduler_gamma: 0.5     # Gamma for scheduler (gamma ist the reduction factor lr_new = lr_old * gamma)
  early_stopping: true     # Whether to use early stopping
  patience: 5              # Patience for early stopping
  overfit_single_batch: False  # Sanity check to test if model is able to overfit on a single batch


# Logging configuration
logging:
  log_to_file: true
  log_file: "experiments/logs/training.log"
  checkpoint_dir: "experiments/checkpoints/"

# Debugging configuration
debugging:
  debug: True           # True = run in debug mode (no wandb logging)
  log_level: "DEBUG"               # Logging level (e.g., DEBUG, INFO)
  debug_data_dir: "experiments/debug/"  # Directory for saving debug data
